@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --primary-color: #181b3a;
  --secondary-color: #01d293;
  --body-bg: #0b0c28;
  --card-01-bg: linear-gradient(#ef621c, #e1424e);
  --card-02-bg: linear-gradient(#01d293, #56c57a);
  --card-03-bg: #725cff;
  --card-04-bg: #2884ff;
  --card-05-bg: #fe7e05;
  --card-06-bg: #da42b2;
  --heading-color: #fff;
  --small-text-color: #808191;
  --recommend-car01-bg: #e1dfa4;
  --recommend-car02-bg: #e3ecf1;
  --recommend-car03-bg: #f4e3e5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

.main__layout {
  margin-left: 260px;
  margin-bottom: 10px;
}

img {
  width: 100%;
}

.dashboard {
  margin-top: 100px;
  padding: 0px 30px;
  padding-bottom: 50px;
}

.single__card {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  cursor: pointer;
}

.single__card:nth-child(1) {
  background: var(--card-01-bg);
}

.single__card:nth-child(2) {
  background: var(--card-02-bg);
}

.single__card:nth-child(3) {
  background: var(--card-03-bg);
}

.single__card:nth-child(4) {
  background: var(--card-04-bg);
}

.single__card:nth-child(5) {
  background: var(--card-05-bg);
}

.single__card:nth-child(6) {
  background: var(--card-06-bg);
}

.card__content h4 {
  color: var(--heading-color);
  font-size: 1rem;
  font-weight: 400;
}

.card__content span {
  color: var(--heading-color);
  font-size: 2rem;
}

.card__icon {
  font-size: 2rem;
  font-weight: 400 !important;
  color: rgba(255, 255, 255, 0.845);
}

.dashboard__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
}

.statics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  margin-top: 2rem;
}

.stats {
  background: var(--primary-color);
  padding: 30px;
  border-radius: 5px;
  height: 320px;
  padding-bottom: 50px;
}

.tooltip__style {
  background: var(--body-bg) !important;
  color: #fff;
}

.stats__title {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.recommend__cars-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  column-gap: 2rem;
}

.recommend__car-card {
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.recommend__car-card:nth-child(1) {
  background: var(--recommend-car01-bg);
}
.recommend__car-card:nth-child(2) {
  background: var(--recommend-car02-bg);
}
.recommend__car-card:nth-child(3) {
  background: var(--recommend-car03-bg);
}

.recommend__car-top h5 {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  color: var(--body-bg);
  margin-bottom: 10px;
}

.recommend__car-top h5 span i {
  font-size: 1.2rem;
}

.recommend__car-bottom h4 {
  font-size: 1.3rem;
  margin: 10px 0px;
}

.recommend__car-other {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recommend__icons {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.recommend__icons p:nth-child(1) {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
